.user-info {
    height: 63vh;
    //background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        width: fit-content;
        height: fit-content;
        border: solid black;
        border-radius: 3%;
        padding: 3%;
        background-color: rgba(255, 255, 255, 0.83);
        color: blue;

        span {
            color: black;
        }
    }
}