@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: 'Ubuntu', sans-serif;
//   background-image: radial-gradient(farthest-corner at 40px 40px,
//   #f35 0%, #43e 100%);
}

.container {
  height: 100vh;
}

.flip-card-outer {
  width: 300px;
  height: 350px;
  margin: 25px 0;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .3s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10%;

      
      &--title {
        text-align: center;  
        color: rgb(255, 255, 255);
        margin: 7%;
      }

      &--dispaly {  
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        

      }
  
      &.front {
        transform: rotateY(0);
        background-color: #551d91db;
        color: #fff;
       // background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png");
      }
  
      &.back {
        transform: rotateY(180deg);
        background-color: rgba(255, 255, 255, 0.881);
        color: #2d2d2d;
      }
    }
  }
}

span {
    font-weight: bold;
}

.flip-button {
    background-color: rgba(254, 254, 0, 0.668);
    border-radius: 40%;
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    //margin-bottom: 5%;   
    position: fixed;
    bottom: 6px;

}