.navBar {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  //padding: 0 20px;
  background-color: rgb(255, 255, 255);

  @include tablet {
    justify-content: center;
  }

  &__links {
    margin-left: 0%;
    width: 620px;
    display: flex;
    flex-direction: row;
    //justify-self: end;

    &__link {
      font-weight: bold;
      font-size: 20px;
      color: black;
      text-transform: uppercase;
      margin: 3%;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-color: red;
      }

      @include tablet {
        font-size: 15px;
      }
    }
  }

  &__imgCont {
    &__img {
      height: 100px;
    }

    @include mobile {
      //letter-spacing: 0.1rem;
      //padding: 10px 0;
      font-size: 15px;
      display: none;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      font-size: 18px;
      @include tablet {
        font-size: 10px;
      }
      
    }

    &__buttonsCont {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__button {
        border-radius: 5%;
        font-size: 20px;
        @include tablet {
          font-size: 15px;
        }

        &--info {
          background-color: rgb(0, 205, 0);
        }

        &--logout {
          background-color: red;
        }
      }
    }
  }
}

.active {
  color: rgb(223, 47, 47);
}
